@font-face{
  font-family:"sf-pro";
  src: url(src/SF-Pro.ttf);
};
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
  background-image: linear-gradient(110deg, #160022 52%, #560088 100%);
}
.container {
    width: 100%;
    font-family: SF-Pro;
    display: grid;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-template-rows: 200px 500px 100px ;
    height: 100vh;

  }
  /* header and navBar page*/
  header{
   width: 100%;
   grid-area: header;
    
  }
  .navBar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  .navList{
    display: none;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    color: white;
    width: 50%;
    gap: 50px;
  }
  .fa-solid.fa-bars{
    font-size: 1.5rem;
    color: black;
    height: auto;
    color: white;
  }
  .logo{
    font-size: 2.5rem;
    height: 50px;
    background-image:linear-gradient(90deg,#FF3BFF 0%,#ECBFBF 38%,#5C24FF 76% ,#D94FD5 100%) ;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    gap: 50px;
    background-size: cover;
  }
  .bar:nth-child(5){
    width: 120px;
    height: 50px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  #navBarI{
    padding-top: 15px;
  }
  .navList a{
    text-decoration: none;
    color: white;
  }
  #navBarI a::before{
    content:"";
    position: absolute;
    width: 0vw;
    height: 1px;
    top: 100px;
    background-color: white;
    transition: all linear 0.5s;
  }
  #navBarI a:nth-child(5)::before{
    background-color: transparent;
  }
  #navBarI a:hover::before{
    width: 4vw;
  }
  #navBarI a:nth-child(2):hover::before{
    width: 7.5vw;
  }
  #navBarI a:nth-child(3):hover::before{
    width: 6vw;
  }
  #navBarI a:nth-child(4):hover::before{
    width: 6vw;
  }




 




    /*main page */
article
  {
      grid-area: main;
      display: grid;
      grid-template-areas: 
        "landing landing landing"
        "feature feature feature"
        "reward reward reward"
        "team team team"
        ;
      grid-template-columns: repeat(auto-fit,minmax(300px 1fr));
      grid-template-rows: 50vh 30vh 30vh 30vh;
  }
  .landingPage{
    grid-area: landing;
    border: solid white;
  }
  
    






























/*media query for mobile pre-defined*/
  /* xs */
  @media (max-width: 475px){
    .container {
      max-width: 100%;
      grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
      ;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 100px 200px 200px;
    }
  }
  @media (min-width: 475px) {
    .container {
      max-width: 100%;
      grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
      ;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 100px 200px 200px;
    }

  }
  
  /* sm */
  @media (min-width: 640px) {
    .container {
      max-width: 100%;
    }
  }
  
  /* md */
  @media (min-width: 768px) {
    .container {
      max-width: 100%;
    }
    .navList{
      width: 60%;
    }
  }
  
  /* lg */
  @media (min-width: 1024px) {
    .navList{
      display: flex;
    }
    .fa-solid.fa-bars{
      display: none;
    }
    .navList{
      width: 80%;
    }

    

   
  }
  
  /* xl */
  @media (min-width: 1280px) {
    .navList{
      width: 60%;
    }
   
  }
  
  /* 2xl */
  @media (min-width: 1536px) {
   
  }